<div class="game">
  <div class="game-img">
    <img src="/images/mortal-kombat.png" />
  </div>
  <div class="game-info">
    <h1>{{name}}:</h1>
    <p><span>Platform: </span>PC</p>
    <p><span>{{genre}}: </span>Action</p>
    <p><span>{{price}}: </span>$78</p>
  </div>

  <a href="/games/details" class="btn-details">Details</a>
</div>